body{
background-color: black;
}
/*Banner CSS*/
#wrapper {
	margin:auto;
}
#banner_header {
		text-align: center;
		color: #32cd32;
		font-weight: bold;
	}
#banner_header p {
		color: #fff;
}
/*NAV CSS*/
#banner_header_nav ul {
	display: inline;
}
